*{
    font-family: Roboto, "Trebuchet MS", sans-serif;
}

body{
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
}

.calculator{
    margin:25px;
    width:500px;
    height:900px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #1E1E24;
    border-radius:8px;
}

.screen{
    width:85%;
    height:9%;
    background-color: #F7EBE8;
    text-align: right;
    padding: 5px;
    padding-top:18px;
    margin-top:20px;
    margin-bottom:15px;
    font-size: 3.6em;
    border-radius: 2px;
}

.keyboard{
    width:85%;
    height:80%;
    background-color: #444140;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    border-radius:4px;
}

.numbers{
    width:100%;
    height:80%;
    display:flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
    gap:4%;
    padding:10px;
}

.numbers > .key{
    width:23%;
    aspect-ratio: 1/1;
    flex: 0 0 auto;
}

.operators{
    width:100%;
    height:30%;
    display:grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns:30% 30% 30%;
}

.operators > .key{
    width:70%;
    aspect-ratio:1/1;
    flex: 0 0 auto;
}

.key{
    background-color: #FFA987;
    border-radius: 10px;
    border-width: 8px;
    border-style: ridge;
    font-size: 2em;
    font-weight: 900;
    color:#1E1E24;
}

.key:hover{
    border-style: groove;
}

.clearkey{
    background-color: #E54B4B;
}

.operatorkey{
    background-color: rgb(255, 153, 0);
}

.plusminuskey, .decimalkey{
    background-color: #FF8A5C;
}